nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  #333;
    color: #fff;
}

.logo {
    width: 200px;
    height: 60px;
    overflow: hidden;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding-right: 2rem;
}

li {
    border-radius: 5px;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #fff;
}

.card_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.card_vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}