h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1em;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;

}    

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em;
    text-decoration: none;
    color: darkslateblue;
}

a:hover {
    color:rgb(42, 33, 51);
}
